.App {
  text-align: center;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.container {
  justify-content: center;
}
.all-students {
  width: 400px;
}

.student-wrapper {
  padding: 5px;
}

.student-wrapper.preview {
  width: 200px;
  height: 200px;
  cursor: default;
  border: 1px solid;
}

.student-wrapper img {
}